@charset "UTF-8";
/* CSS Document */

#container
{
	width: 960px;
	margin: 0 auto;	
}

body 
{
	font-family: 'Gotham', arial, sans-serif;	
	background: #efefef url(../images/bg.png);
}


.hidden
{
	display: none;
}

h1
{
	text-align: center;
}

h2
{
		font-size: 20px;
		margin-top:35%;
		margin-left:53%;
		position:absolute;
		z-index: 1;	
		color: #F4B434;
		font-family: 'gotham', arial, sans-serif;
}

#photoCaption
{
	height: 25px;
	padding: 8px;
	border-radius:5px;	
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);

}

p
{
	z-index: 2;
	margin-top:2%;
	margin-left: 25px;
	position:absolute;
}

#photoNum
{
	color:white;
	font-size: 1.5em;
}

#cambridge
{
	margin: 0 auto;
	width:100%;
	height:100%;
	border-radius: 20px;
}

#largeImage
{
	width:100%;
	height:100%;
	border-radius: 20px;
}

#largeImage img
{
	display:block;
	margin: 0 auto;
	padding:25px;
}


#thumbnailList 
{
	margin: 05px 0px 0px -35px;	
	height: 100%;
	list-style-type:none;
}

#thumbnailList li 
{
	display:inline;
	margin-left: 11px;
	opacity:.7; transition:opacity .5s; -webkit-transition:opacity .5s; -moz-transition:opacity .5s;
	cursor:pointer;
	-webkit-transition: all .4s ease-in;
	-moz-transition: all .4s ease-in;
	-o-transition: all .4s ease-in;
	transition: all .4s ease-in;
}

#thumbnailList img
{
	opacity:.7; 

}



.space
{
	width:15%;
}

#thumbnailList img:hover
{
	opacity:1;
}

#border
{
	border:8px;
	width:auto;
	height:auto;
}


/*------MEDIA QUERIES------*/

/* SMALL SCREENS - MOBILE*/

@media only screen and (max-width: 40em){


#cambridge
{
	/*width:30%;*/
	display: none;
}

h1
{
	text-align: left;
	font-size: 1em;
	margin-left: 8%;
}

h2
{
		/*font-size: 10px;
		margin-top:39%;
		margin-left:50.5%;
		position:absolute;
		z-index: 1;	
		color: #F4B434;
		font-family: 'gotham', arial, sans-serif;*/

		display:none;
}

#photoCaption
{
	height: 12px;
}

#photoNum
{
	color:white;
	font-size: .8em;

	display:none;
}

.space
{
	margin-top: 10px;
	/*width:40%;*/
	/*margin-left: 4px;*/
	width:90%;
}

#thumbnailList
{
	width:300px;
}

#thumbnailList li
{
	opacity:1;
}

#thumbnailList li:hover
{
	opacity: 1;
}


}


/* MEDIUM SCREEN - TABLET */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	

#cambridge
{
	width:75%;
	margin-left: 8px;
}

h1
{
	text-align: left;
	font-size: 2em;
	margin-left: 25%;
}

h2
{
		font-size: 1.4em;
		margin-top:44%;
		margin-left:60%;
		position:absolute;
		z-index: 1;	
		color: #F4B434;
		font-family: 'gotham', arial, sans-serif;
}

#photoCaption
{
	height: 28px;
}


#thumbnailList
{
	width: 700px;
}

#thumbnailList li
{
	display:inline;
	margin-left: 34px;
}

.space
{
	margin-top: 10px;
	width:28%;
}


p
{
	z-index: 2;
	margin-top:2%;
	margin-left: 30px;
	position:absolute;
}

#photoNum
{
	color:white;
	font-size: 1.3em;
}


}